In [1]:
import pandas as pd
import shelve as sh

In [10]:
# Amount of times to run the program
size = int(input("How many items do you want to store? "))

# Program iteration
for i in range(size):
    
    # Operation label
    print("Details for product ", i + 1)
    
    # Product id input. Try-except helps control error so the program
    #won't crash when the wrong input is made.
    try:
        # Try get the value
        prodId = input("Please specify the product unique id ")
    except ValueError:
        # Catch error, if any...
        print(input("Oops! You didn't put a number! Try again "))    
    
    # Product name input
    name = input("Please specify the product name ")
    
    # Product quantity
    qty = input("Please specify the product quantity ")
    
    # Product price input
    try:
        price = float(input("Please specify the product price "))
    except ValueError:
        print(input("Oops! You didn't put a number! Try again "))
        
    # Stock price
    stockPrice = int(price) * int(qty)
    
    # Open Shelve
    s = sh.open("minimart", writeback=True)
    try:
        s[prodId] = {"ProdId": prodId, "Name": name, "Price": price, "Quantity": qty, "Stock Price": float(stockPrice)}
    finally:
        items = list(s.values())
        s.close()
        
#convert to pandas dataframe in order to view it as a table
df = pd.DataFrame(items)
#print(items)
df

How many items do you want to store? 2
Details for product  1
Please specify the product unique id 1
Please specify the product name milk
Please specify the product quantity 5
Please specify the product price 4000
Details for product  2
Please specify the product unique id 2
Please specify the product name milo
Please specify the product quantity 5
Please specify the product price 5000

   Name   Price ProdId Quantity  Stock Price
0  milk  4000.0      1        5      20000.0
1  milo  5000.0      2        5      25000.0

In [19]:
s.items()

ItemsView(<shelve.DbfilenameShelf object at 0x06956D90>)